application/config/development/*
application/logs/*
application/cache/*
/uploads/*
.idea
vendor
./index.php

composer.lock

.DS_Store
assets/img/ads-small.jpg
assets/img/blog/*
assets/img/clientslogo/*
assets/img/ico/*
assets/img/patterns/*
assets/img/portfolio/*
assets/img/slider/*
assets/img/team/*
assets/img/temp/*
assets/img/testimonial/*
kindeditor/*





